body {
  padding-bottom: 50px;
}

.red {
  color: red;
}

.autosuggest {
  width: 100%;
  height: 70px;
  border-radius: 0;
  font-size: 10px;
  button {
    height: 70px;
    width: 15px;
    border-radius: 0;
    padding: 0;
    span {
      margin-left: -4px;
    }
  }
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 0 !important;
  }
}
